.addtrans h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-top: 20px;
  font-weight: 600;
}

.form-control label {
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-control input {
  width: 100%;
  border: 1px solid transparent;
  padding: 10px 8px;
  margin-top: 10px;
  outline: transparent;
}

.formbtn {
  width: 100%;
  border: none;
  padding: 10px 15px;
  background-color: rgb(105, 153, 242);
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  transition: all linear 0.3s;
}

.formbtn:hover {
  background-color: #2fe0ff;
}
