.transactionMain h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-top: 20px;
  font-weight: 600;
}

.transactionMain ul.list {
  list-style: none;
}

.transactionMain ul.list li.minus {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #fff;
  position: relative;
}

.minusflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 22px;
}

.minusflex span {
  font-weight: 600;
}

.delete-btn {
  position: absolute;
  right: 5px;
  top: 4px;
  padding: 3px 8px;
  background-color: rgb(255, 71, 65);
  color: #fff;
  border: none;
  opacity: 0;
}

ul.list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

ul.list::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

ul.list::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.minusex {
  border-right: 3px solid rgb(255, 72, 72);
}
.plusex {
  border-right: 3px solid rgb(72, 255, 102);
}

.delete-btn:hover,
li:hover .delete-btn {
  opacity: 1;
}
